
.infor1{
    font-size: 45px;
    font-style: inherit;
    padding-left: 20%
}
.infor2{
    padding-left: 10%
}
.user-page {
  background: no-repeat top;
  background-size: 100%;
}

.buttons{
    padding-top: 100px
}
.photo{
    padding-top: 3%;
    padding-left: 5%
}
.icon{
    padding-top: 7%;
    padding-right: 50%

}