Page{
    width: 100%;
    height: 100%;
    background-color: #fafafa; 
}
.text{
    font-size: 35px;
    text-align: center;
    padding: 10px 10px;
    border-block-color: blue;
}
.courseCover{
    width:100%;
    height: 150px;
}
// .tab{
//     height: 120%;
// }
.add{
    padding-left:45% ;

}
.addcourse{
    padding-top: 10px;
}